#caja1{
    background-color: aqua;
    height: 100px;
    width: 100;
    display: inline-block;
}

#caja2{
    background-color: rgb(0, 255, 106);
    height: 100px;
    width: 100;
    display: inline-block;
}

#caja3{
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100;
}

#caja4{
    background-color: rgb(238, 255, 0);
    height: 100px;
    width: 100;
}

a{
    padding: 20px; /* solo permite modificar horizontalmente por que es inline */
    width: 100px; /* no se aplica a elementos inline */  
}

.bordeGrueso{
    border: 15px solid black;
}