*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nav header header header header"
        "nav section section aside aside"
        "nav article article aside aside"
        "nav footer footer footer footer";
}

header{
    grid-area: header;
    background-color: rgb(232, 175, 17);
}

nav{
    grid-area: nav;
    background-color: rgb(230, 7, 7);
}

section{
    grid-area: section;
    background-color: rgb(46, 41, 216);
}
article{
    grid-area: article;
    background-color: rgb(15, 203, 232);
}
aside{
    grid-area: aside;
    background-color: rgb(14, 238, 41);
}
footer{
    grid-area: footer;
    background-color: blueviolet;
}

@media (max-width: 480px){
    #container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "article"
        "aside"
        "footer";
    }
}

@media (min-width:480.1px) and (max-width: 900px){
    #container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.8fr 0.5fr 0.2fr ;
        grid-template-areas: 
        "header header header header nav"
        "section section section section section"
        "article article article article article"
        "footer footer aside aside aside";
    }
}

@media (min-width:1024.1px){
    .container{

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 1.5fr 1fr 0.8fr;
        grid-template-areas: 
        "Navbar Navbar"
        "sidebar main"
        "caja1 caja2"
        "footer footer";

    }
}