*{
    margin: 0px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    border: 12px solid rgb(218, 23, 23)
}

#cuadro{
    width: auto;
    height: auto;
    background-color: rgb(12, 53, 233);
    
    display: flex;    
    
    justify-content: start; /* alinea los hijos en el centro - eje principal*/
    align-items: center; /* alinea los hijos en el centro - eje secundario*/
    gap: 20px;  /* Distancia entre los hijos */
    flex-wrap: wrap; /* permite que los hijos se ajusten a la pantalla */
    align-content: center; /* alinea los hijos en el centro si hay espacio extra */
}

#circulo{
    width: auto;
    height: auto;
    background-color: blue;
    
    display: flex;    
    
    justify-content: start; /* alinea los hijos en el centro - eje principal*/
    align-items: center; /* alinea los hijos en el centro - eje secundario*/
    gap: 20px;  /* Distancia entre los hijos */
    flex-wrap: nowrap; /* permite que los hijos se ajusten a la pantalla */
    align-content: center; /* alinea los hijos en el centro si hay espacio extra */
}

.cu{
    width:50%;
    height: 50%;
    background-color: red;  
    width: 200px;
   
}
.ci{
    width: 50%;
    height: 50%;
    background-color: red;  
    border-radius: 200px;  
}