*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.2fr 1fr ;
    grid-template-areas: 
        "header header header header header"
        "nav nav nav nav nav"
        "section section section section section";
}

#container2{
    width: 100vw;
    height:45vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
        "arti1 arti2 arti3 arti4";
    border: solid black;
}

header{
    grid-area: header;
    background-color: rgb(28, 137, 238);
}

nav{
    grid-area: nav;
    background-color: rgb(230, 7, 7);
}

section{
    grid-area: section;
    background-color: rgb(46, 41, 216);
}


#arti1{
    grid-area: arti1;
    background-color: blue;
}
#arti2{
    grid-area: arti2;
    background-color: rgba(118, 118, 235, 0.76);
}
#arti3{
    grid-area: arti3;
    background-color: rgb(183, 183, 231);
}
#arti4{
    grid-area: arti4;
    background-color: rgb(100, 100, 198);
}

aside{
    grid-area: aside;
    background-color: rgb(14, 238, 41);
}
aside2{
    grid-area: aside2;
    background-color: rgb(40, 86, 46);
}
footer{
    grid-area: footer;
    background-color: blueviolet;
}
/*
@media (max-width: 480px){
    #container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "section"
        "article"
        "aside"
        "footer";
    }
}

@media (min-width:480.1px) and (max-width: 900px){
    #container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.8fr 0.5fr 0.2fr ;
        grid-template-areas: 
        "header header header header nav"
        "section section section section section"
        "article article article article article"
        "footer footer aside aside aside";
    }
}